@import url(https://fonts.googleapis.com/css?family=Shrikhand:regular);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

//styling for the whole page
*{
    font-family: Roboto;
    max-width: 400px;
    text-align: center;
    text-decoration: none;
}
// colours
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;


/////INDEX PAGE\\\\\


//header
.mainLogo {
    box-shadow: 2px 2px 12px grey;
    margin-top: -10px;
    padding: 9px;
}
.logo {
    font-family: Shrikhand;
}

.location {
    background-color: #f2f2f2;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -20px;
}

.bookMenu {
    background-color: #f9f9f9;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-top: -20px;
}

.exploreButton {
    border-radius: 20px;
    border: hidden;
    padding: 10px;
    color: white;
    background: linear-gradient(to bottom, rgb(243, 146, 243), $primary);
}

//main
.titles {
    text-align: left;
    margin-left: 10px;
    padding-top: 30px;
}

//how it works
.HIWoptions {
    box-shadow: 2px 2px 12px grey;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: #f9f9f9;
}
.HIWicon {
    float: left;
    margin-left: 20px;
    margin-right: -20px;
}
.number {
    background-color: $primary;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: min-content;
    border-radius: 100%;
    float: left;
    margin-left: -30px;
    margin-top: -5px;
}

//restaurants
.restaurants-section {
    background-color: #f9f9f9;
    padding-bottom: 30px;
    margin-top: 50px;
}
  
.menuOptions {
    position: relative;
}
.menuImg {
    height: 150px;
    width: 300px;
    object-fit: cover;
    object-position: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.menuText {
    width: 290px;
    border: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px;
    margin-top: -5px;
    margin-left: 29px;
    box-shadow: 2px 2px 12px grey;
    margin-bottom: 20px;
    color: black;
}
.menuText1 {
    text-align: left;
    margin-left: 10px;
}
.heartIcon {
    float: right;
    margin-top: -30px;
    margin-right: 20px;
}

.newTag {
    position: absolute;
    margin-top: 10px;
    margin-left: 250px;
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $tertiary;
    color: #1b6f5a;
    border-radius: 5px;
}
.newTag2 {
    margin-top: -145px;
    margin-left: 250px;
}

//footer
.footer {
    background-color: rgb(55, 54, 54);
    color: white;
    margin-top: -10px;
}
.footerTitle {
    padding-top: 20px;
    padding-bottom: 10px;
}
.footerText {
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
}
.footerBottom {
    padding-bottom: 30px;
}


/////MENU PAGES\\\\\


/////MENU PAGE 1\\\\\\

.menu-title {
    text-align: left;
    margin-left: 30px;
}

.backArrow {
    float: left;
    margin-top: 7px;
    color: rgb(55, 54, 54);
}

.restaurantImg {
    height: 260px;
    width: 360px;
    margin-top: -21px;
    object-fit: cover;
    object-position: 60%;
}

.restaurantMenu {
    position: absolute;
    background-color: #f2f2f2;
    height: max-content;
    width: 360px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-top: -50px;
}

.menuHeartIcon {
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}

.header-text {
    text-align: left;
    margin-left: 30px;
    margin-top: 30px;
}

.header-UL {
    border-bottom: solid 3px $tertiary;
    width: 40px;
    margin-left: 30px;
    margin-top: -15px;
}

.menu-option {
    text-align: left;
    font-size: large;
    margin-bottom: 2px;
}

.menu-text {
    text-align: left;
    font-size: small;
}

.menu-price {
    text-align: right;
    margin-top: -20px;
    font-size: small;
}

.orderButton {
    padding: 15px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 40px;
    font-size: larger;
    margin-top: 30px;
    margin-bottom: 50px;
}



.menu-footer {
    margin-top: 1160px;
}