@import url(https://fonts.googleapis.com/css?family=Shrikhand:regular);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

//styling for the whole page
*{
    font-family: Roboto;
    max-width: 400px;
    text-align: center;
}
// colours
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;

//header
.mainLogo {
    box-shadow: 2px 2px 12px grey;
    margin-top: -10px;
    padding: 9px;
}
.logo {
    font-family: Shrikhand;
}

.location {
    background-color: #f2f2f2;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -20px;
}

.bookMenu {
    background-color: #f9f9f9;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-top: -20px;
}

.exploreButton {
    border-radius: 20px;
    border: hidden;
    padding: 10px;
    color: white;
    background: linear-gradient(to bottom, rgb(243, 146, 243), $primary);
}

//main
.titles {
    text-align: left;
    margin-left: 10px;
    padding-top: 30px;
}

//how it works
.HIWoptions {
    box-shadow: 2px 2px 12px grey;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: #f9f9f9;
}
.HIWicon {
    float: left;
    margin-left: 20px;
    margin-right: -20px;
}
.number {
    background-color: $primary;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: min-content;
    border-radius: 100%;
    float: left;
    margin-left: -30px;
    margin-top: -5px;
}

//restaurants
.restaurants-section {
    background-color: #f9f9f9;
    padding-bottom: 30px;
}
  
.menuImg {
    height: 150px;
    width: 300px;
    object-fit: cover;
    object-position: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.menuText {
    width: 290px;
    border: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px;
    margin-top: -5px;
    margin-left: 43px;
    box-shadow: 2px 2px 12px grey;
    margin-bottom: 20px;
}
.menuText1 {
    text-align: left;
    margin-left: 10px;
}
.heartIcon {
    float: right;
    margin-top: -30px;
    margin-right: 20px;
}

//footer
.footer {
    background-color: rgb(55, 54, 54);
    color: white;
    margin-top: -10px;
}
.footerTitle {
    padding-top: 20px;
    padding-bottom: 10px;
}
.footerText {
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
}
.footerBottom {
    padding-bottom: 30px;
}